.apply-bnr
    .container
        img.apply-bnr__img02(src=`${assetsPath}/images/top/apply-bnr_img02.png`, alt="")
        .apply-bnr__info
            .apply-bnr__img-wrap.img
                img.img__main.apply-bnr__img-pc(src=`${assetsPath}/images/top/apply-bnr_img.jpg`, alt="")
                img.img__main.apply-bnr__img-sp(src=`${assetsPath}/images/top/apply-bnr_img-sp.jpg`, alt="")
                .apply-bnr__content
                    img.apply-bnr__logo(src=`${assetsPath}/images/top/apply-bnr_logo.png`, alt="")
                    p.apply-bnr__ttl 新しい自分に出会う準備はできていますか？<br>自分を変える挑戦を今、スタートさせよう！
                    p.apply-bnr__apply Apply
                    p.apply-bnr__txt.hidden-pc まずはLCPを知
                    .apply-bnr__wrap
                        p.apply-bnr__txt.hidden-sp まずはLCPを知る
                        a.apply-bnr__link(href="#")
                            p.apply-bnr__link-txt.hidden-sp まずはLCPを知る
                            p.apply-bnr__link-txt.hidden-pc まずは無料体験に申し込む
                            .btn__arrow
                                img(src=`${assetsPath}/images/common/arrow-blue.png`, alt="")
                        