.layout-02 
    .layout-02__img-con 
        img.layout-02__img(src=`${assetsPath}/images/top/layout02_img01.jpg`, alt="")
        img.layout-02__img.hidden-sp(src=`${assetsPath}/images/top/layout02_img02.jpg`, alt="")
    .layout-02__swiper.swiper.js-swiper
        .swiper-wrapper.layout-02__swiper-wrapper 
            .swiper-slide.layout-02__swiper-slide
                .layout-02__swiper-img.img
                    img.img__main(src=`${assetsPath}/images/top/layout02_img04.jpg`, alt="")
            .swiper-slide.layout-02__swiper-slide
                .layout-02__swiper-img.img
                    img.img__main(src=`${assetsPath}/images/top/layout02_img05.jpg`, alt="")
            .swiper-slide.layout-02__swiper-slide
                .layout-02__swiper-img.img
                    img.img__main(src=`${assetsPath}/images/top/layout02_img06.jpg`, alt="")
            .swiper-slide.layout-02__swiper-slide
                .layout-02__swiper-img.img
                    img.img__main(src=`${assetsPath}/images/top/layout02_img07.jpg`, alt="")
    .layout-02__content-wrap
        .layout-02__content
            .layout-02__wrap
                img.layout-02__wrap-img(src=`${assetsPath}/images/top/layout02_img03.png`, alt="")
                .layout-02__wrap-info 
                    h2.layout-02__wrap-ttl Contact Us 
                    p.layout-02__wrap-txt まずは無料体験に申し込む
                    p.layout-02__wrap-txt02 オンラインで気軽に体験可能です。受講に対するあなたの<br>質問・疑問へとLCPの講師が丁寧にお答えします。<br>さぁ、人生を変える準備は整いましたか？
                    .layout-02__btn 
                        a.layout-02__btn-link(href="#") 
                            p.layout-02__btn-ttl 
                                span.layout-02__btn-txt まずは無料体験に申し込む
                                | Let's Entry
                            .btn__arrow
                                img(src=`${assetsPath}/images/common/arrow-blue.png`, alt="")