-
    const footerData = [
        {
            menuName : "Menu",
            menu : [
                { name: 'Top', href: `${relativePath}/` },
                { name: 'About', href: "#" },
                { name: 'Benefits', href: "#" },
                { name: 'Essence', href: "#" },
                { name: 'Voice', href: "#" },
                { name: 'Strength', href: "#" },
                { name: 'Blog', href: "#" },
                { name: 'Program', href: "#" },
                { name: 'Course', href: "#" },
                { name: 'FAQ', href: "#" },
            ]
        },
        {
            menuName : "Media",
            menu : [
                { name: 'LCP公式SNS', href: `${relativePath}/` },
                { 
                    img01: "footer_social-img01.png", 
                    img02: "footer_social-img02.png"  
                },
                //- { img: "footer_social-img02.png"  },
            ]
        },
        { 
            menuName : "INFORMATION & RAW",
            menu : [
                { name: '会社概要', href: `${relativePath}/` },
                { name: 'プライバシーポリシー', href: "#" },
                { name: 'サービス利用規約', href: "#" },
                { name: '特定商取引法に基づく表示', href: "#" },
                { name: 'お問い合わせ', href: "#" },
            ]
        }
    ]

footer.footer.js-bg
    .footer__container.img 
        img.img__main(src=`${assetsPath}/images/common/footer_img.jpg`, alt="")
        .footer__wrap
            img.footer__logo(src=`${assetsPath}/images/common/footer_logo.png`, alt="")
            ul.footer__menu01
                each footerItem, id in footerData
                    - var strID = String(id + 1).padStart(2, '0')
                        li.footer__menu01-item01
                            h3.footer__menu01-ttl #{footerItem.menuName}
                            ul.footer__menu02(class=`footer__menu02-con-${strID}`)
                                each item in footerItem.menu
                                    li.footer__menu02-item02
                                        if item.href
                                            a.footer__menu02-link(href=item.href) #{item.name}
                                        else
                                            a.footer__menu02-img(href="#")
                                                img.footer__menu02-img01(src=`${assetsPath}/images/common/${item.img01}` alt="")
                                                img.footer__menu02-img02(src=`${assetsPath}/images/common/${item.img02}` alt="")
            p.footer__copyright &copy; 2025 NATURE GATE Co.,LTD. All right reserved.
        .footer__signUp.hidden-pc 
            img.footer__arrow(src=`${assetsPath}/images/common/footer_arrow.png`, alt="")
            p.footer__signUp-txt まずは無料体験セッションに申し込む
            img.footer__arrow02(src=`${assetsPath}/images/common/footer_arrow.png`, alt="")
                
