-
    const footerData = [
        {
            menuName : "Menu",
            menu : [
                { name: 'Top', href: `${relativePath}/` },
                { name: 'About', href: "#" },
                { name: 'Location', href: "#" },
            ]
        },
        { 
            menuName : "Other",
            menu : [
                { name: 'Menu', href: "#" },
                { name: 'Order Now', href: `${relativePath}/` },

            ]
        },
         { 
            menuName : "Contact",
            menu : [
                { name: '+1 (555) 123-4567', href: "#" },
                { name: '+1 (555) 123-4567', href: `${relativePath}/` },
            ]
        },

    ]

footer.footer.js-bg
    .footer__container.img 
        //- img.img__main(src=`${assetsPath}/images/top/top-bnr_bnr-img.jpg`, alt="")
        .footer__wrap
            h2.footer__logo Burger King PH
            .footer__info
                ul.footer__menu01
                    each footerItem, id in footerData
                        - var strID = String(id + 1).padStart(2, '0')
                            li.footer__menu01-item01
                                h3.footer__menu01-ttl #{footerItem.menuName}
                                ul.footer__menu02(class=`footer__menu02-con-${strID}`)
                                    each item in footerItem.menu
                                        li.footer__menu02-item02
                                            if item.href
                                                a.footer__menu02-link(href=item.href) #{item.name}
                .footer__img-wrap 
                    a.footer__img(href="#") 
                        img.footer__menu02-img01(src=`${assetsPath}/images/common/footer_social-img01.png`, alt="")
                    a.footer__img(href="#") 
                        img.footer__menu02-img02(src=`${assetsPath}/images/common/footer_social-img02.png`, alt="")
                    a.footer__img(href="#") 
                        img.footer__menu02-img03(src=`${assetsPath}/images/common/footer_social-img03.png`, alt="")
        .footer__signUp.hidden-pc 
            img.footer__arrow(src=`${assetsPath}/images/common/footer_arrow.png`, alt="")
            p.footer__signUp-txt まずは無料体験セッションに申し込む
            img.footer__arrow02(src=`${assetsPath}/images/common/footer_arrow.png`, alt="")
                
