.lp-bnr 
    .lp-bnr__info.relative
        .lp-bnr__wrap-img
            .lp-bnr__img.img 
                img.img__main.hidden-sp(src = `${assetsPath}/images/banner/lp-bnr_img01.jpg`)
                img.img__main.hidden-pc(src = `${assetsPath}/images/banner/lp-bnr_img01-sp.jpg`)
            .lp-bnr__img.img 
                img.img__main.hidden-sp(src = `${assetsPath}/images/banner/lp-bnr_img02.jpg`)
                img.img__main.hidden-pc(src = `${assetsPath}/images/banner/lp-bnr_img02-sp.jpg`)
        p.lp-bnr__txt 人生は一度きり。「もしも」はない。
        h2.lp-bnr__ttl.hidden-sp 
            | Voice 
            span 受講生の声
        img.lp-bnr__img-txt(src = `${assetsPath}/images/banner/lp-bnr_imgtxt.png`)
        
