//- META INFORMATION
- const page_title = 'LCP'
- const relativePath = '../..'
- const assetsPath = relativePath + '/_assets'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'blog'

//- EXTERNAL LIBRARIES
- const isAOS = true
- const isSwiper = true
- const isScrollHint = false

//- CONTENT DATA
-
   

html(lang="ja")
    head
        include ../_inc/_system/_head.pug

    body
        include ../_inc/_blocks/_header.pug

        main.main

            .lp-bnr 
                .lp-bnr__info.relative
                    .lp-bnr__wrap-img
                        .lp-bnr__img.img 
                            img.img__main.hidden-sp(src = `${assetsPath}/images/banner/lp-bnr_img01.jpg`)
                            img.img__main.hidden-pc(src = `${assetsPath}/images/banner/lp-bnr_img01-sp.jpg`)
                        .lp-bnr__img.img 
                            img.img__main.hidden-sp(src = `${assetsPath}/images/banner/lp-bnr_img02.jpg`)
                            img.img__main.hidden-pc(src = `${assetsPath}/images/banner/lp-bnr_img02-sp.jpg`)
                    p.lp-bnr__txt 人生は一度きり。「もしも」はない。
                    h2.lp-bnr__ttl.hidden-sp 
                        | Blog 
                        span ブログ記事
                    img.lp-bnr__img-txt(src = `${assetsPath}/images/banner/lp-bnr_imgtxt.png`)
            
            section.voice 
                .container
                    .ttl-01.hidden-pc
                        h2.ttl-01__ttl Voice
                        p.ttl-01__txt 受講生の声
                    ul.list-card 
                        - for (let i = 0; i < 9; i++)
                            li.list-card__item.list-card__item--03
                                a.list-card__link(href="#")
                                    .list-card__img.list-card__img--03.img
                                        img.img__main(src=`${assetsPath}/images/top/empty.jpg`, alt="")
                                    p.list-card__date.list-card__date--02 2025.4.1
                                    h2.list-card__ttl.list-card__ttl--03 Lorem ipsum dolor sit amet
                                    .list-card__wrap
                                        p.list-card__tag # ？？？？
                                        p.list-card__tag # ？？？？
                                        p.list-card__tag # ？？？？
                    .pagination 
                        a.page-numbers.is-active(href="#") 1
                        a.page-numbers(href="#") 2
                        a.page-arrow(href="#") 
                            img(src=`${assetsPath}/images/common/pagination-arrow.png`, alt="")
        include ../_inc/_blocks/_footer.pug
        include ../_inc/_system/_foot.pug