//- META INFORMATION
- const page_title = 'Burger King PH'
- const relativePath = '../..'
- const assetsPath = relativePath + '/_assets'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'blog'

//- EXTERNAL LIBRARIES
- const isAOS = true
- const isSwiper = true
- const isScrollHint = false

//- CONTENT DATA
-
    const menuData = [
        {
            img: "top-benefit_img01.jpg",
            price: "$200",
            ttl: `Ultimate Burger`,
            url: './burger-page'
        }, 
        {
            img: "top-benefit_img02.jpg",
            price: "$200",
            ttl: `Pesto Pizza`,
            url: 'burger-page'

        }, 
        {
            img: "top-menu03.jpg",
            price: "$200",
            ttl: `Ultimate Sandwich`,
        },
        {
            img: "top-menu04.jpg",
            price: "$200",
            ttl: `Sandwich`,
        },
        {
            img: "top-menu02.jpg",
            price: "$200",
            ttl: `Pasta`,
        },
        {
            img: "top-menu01.jpg",
            price: "$200",
            ttl: `Salads`,
        },
    ]

html(lang="ja")
    head
        include ../_inc/_system/_head.pug

    body
        include ../_inc/_blocks/_header.pug

        main.main

            section.menu 
                .container
                    .lp-menu
                        h2.lp-menu__ttl Menu
                    ul.list-card 
                        for menuItem in menuData
                            li.list-card__item.list-card__item--03
                                a.list-card__link(href=menuItem.url)
                                    .list-card__img.list-card__img--03.img
                                        img.img__main(src=`${assetsPath}/images/top/`+ menuItem.img, alt="")
                                    p.list-card__date.list-card__date--02 #{menuItem.price}
                                    h2.list-card__ttl.list-card__ttl--03 !{menuItem.ttl}
                                    a.list-card__btn(href="#") Add to Cart
                    .pagination 
                        a.page-numbers.is-active(href="#") 1
                        a.page-numbers(href="#") 2
                        a.page-arrow(href="#") 
                            img(src=`${assetsPath}/images/common/pagination-arrow.png`, alt="")
        include ../_inc/_blocks/_footer.pug
        include ../_inc/_system/_foot.pug