//- META INFORMATION
- const page_title = 'LCP'
- const relativePath = '../..'
- const assetsPath = relativePath + '/_assets'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keywords'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'blog-page'

//- EXTERNAL LIBRARIES
- const isAOS = true
- const isSwiper = true
- const isScrollHint = false

//- CONTENT DATA
-
   
html(lang="ja")
    head
        include ../_inc/_system/_head.pug

    body
        include ../_inc/_blocks/_header.pug

        main.main

            .lp-bnr 
                .lp-bnr__info.relative
                    .lp-bnr__wrap-img
                        .lp-bnr__img.img 
                            img.img__main.hidden-sp(src = `${assetsPath}/images/banner/lp-bnr_img01.jpg`)
                            img.img__main.hidden-pc(src = `${assetsPath}/images/banner/lp-bnr_img01-sp.jpg`)
                        .lp-bnr__img.img 
                            img.img__main.hidden-sp(src = `${assetsPath}/images/banner/lp-bnr_img02.jpg`)
                            img.img__main.hidden-pc(src = `${assetsPath}/images/banner/lp-bnr_img02-sp.jpg`)
                    p.lp-bnr__txt 人生は一度きり。「もしも」はない。
                    h2.lp-bnr__ttl.hidden-sp 
                        | Blog 
                        span ブログ記事
                    img.lp-bnr__img-txt(src = `${assetsPath}/images/banner/lp-bnr_imgtxt.png`)
            
            section.voice-page
                .lp-page
                    .lp-page__content
                        .lp-page__info
                            .ttl-02 
                                h2.ttl-02__ttl Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, incidunt. Porro quidem maiores
                            ul.list-page
                                - for(var i=0; i<3; i++)
                                    li.list-page__item
                                        .list-page__img.img 
                                            img.img__main(src=`${assetsPath}/images/top/empty.jpg`, alt="")
                                        .list-page__wrap
                                            p.list-page__txt 
                                                | Lorem ipsum dolor, sit amet consectetur adipisicing elit. At, incidunt. Porro quidem maiores, possimus voluptatibus accusantium nemo placeat neque ea 
                        .lp-page__menu 
                            .lp-page__menu-articles
                                h3.lp-page__menu-ttl 人気記事
                                ul.list-02 
                                    - for(var i=0; i<5; i++)
                                        li.list-02__item
                                            a.list-02__link(href="#") 
                                                .list-02__img.img 
                                                    img.img__main(src=`${assetsPath}/images/top/empty.jpg`, alt="")
                                                .list-02__wrap
                                                    p.list-02__ttl Lorem ipsum dolor
                            .lp-page__menu-reco
                                h3.lp-page__menu-ttl おすすめ記事
                                ul.list-02 
                                    - for(var i=0; i<5; i++)
                                        li.list-02__item
                                            a.list-02__link(href="#") 
                                                .list-02__img.img 
                                                    img.img__main(src=`${assetsPath}/images/top/empty.jpg`, alt="")
                                                .list-02__wrap
                                                    p.list-02__ttl Lorem ipsum dolor
                    ul.list-card.list-card--02
                        - for( var i=0; i<3; i++ )
                            li.list-card__item
                                a.list-card__link.list-card__link--02(href="#")
                                    .list-card__img.list-card__img--03.img
                                        img.img__main(src=`${assetsPath}/images/top/empty.jpg`, alt="")
                                    .list-card__info
                                        h2.list-card__ttl.list-card__ttl--02 Lorem ipsum dolor sit amet
                                        p.list-card__date.list-card__date--02 2025.4.1
                                        .list-card__wrap
                                            p.list-card__tag # ？？？？
                                            p.list-card__tag # ？？？？
                                            p.list-card__tag # ？？
                    .btn-01
                        a.btn-01__btn.btn-01__btn--blue(href="#") 
                            | インタビュー全体に戻る
                            img.btn-01__btn-arrow(src=`${assetsPath}/images/common/arrow-white.png`, alt="")
        include ../_inc/_blocks/_footer.pug
        include ../_inc/_system/_foot.pug